:root {
  --page_margin: 2%;
}

html, body {
  background-color: blue;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 1400px;
  margin:  0 var(--page_margin) auto;
  width: 100%;
}

h1 {
  color: white;
  font-family: "termina", sans-serif;
font-weight: 900;
font-style: normal;
  font-size: 5em;
}

h2 {
  color: white;
  font-family: "termina", sans-serif;
font-weight: 900;
font-style: normal;
  font-size: 1.5em;
}

p {
  color: white;
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
}

b {
  color: white;
  font-family: "calling-code", sans-serif;
  font-weight: 700;
  font-style: normal;
}

ul {
  color: white;
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  padding-left: var(--page_margin);
}

li::marker {
  content: "> ";
  color: white;
}

canvas {
  display: block;
}

.button-link {
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-family: "calling-code", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  font-size: 1.2em;
  padding: 1%;
  margin-bottom: 1%;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.button-link:hover {
  transform: scale(1.03);
}

.p5-button {
  margin:  0 var(--page_margin) auto;
}


